{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!--div class="top text-center">
    <h2 class="yellow">
      Auto refresh:
      <span class="top">
        <label class="toggle">
          <input type="checkbox" id="reloadCheck" class="color-yellow" />
          <span class="slider"></span>
        </label>
      </span>
    </h2>
</div-->

<div class="flex-container text-center">
  <div class="flex-item">
    {% for single_log in log %}
    <div>
      <h2>Thiet bi {{single_log.id}}</h2>
      {% if single_log.logs %}
        <label class="toggle">
          <input type="checkbox" id="deviceSw{{single_log.id}}" checked />
          <span class="slider slider-green" onClick="toggleChange({{single_log.id}})"></span>
        </label>
        <div id="status{{single_log.id}}" class="status">Status: ON</div>
      {% else %}
        <label class="toggle">
          <input type="checkbox" id="deviceSw{{single_log.id}}" />
          <span class="slider" onClick="toggleChange({{single_log.id}})"></span>
        </label>
        <div id="status{{single_log.id}}" class="status">Status: OFF</div>
      {% endif %}
    </div>
  {% endfor %}
  </div>

  <!--div class="flex-item">
    <div class="form-container">
      <form method="POST">
        <div class="form-group">
          <label for="data">Add data:</label>
          <textarea name="data" id="data" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add data</button>
      </form>
    </div>
  </div-->

  <div class="flex-item">
    <canvas id="myChart" width="600" height="300"></canvas>
  </div>
</div>

<h1 class="text-center">Data</h1>
<div class="top text-center">
  <span>
    <button type="button" class="btn btn-danger" onClick="deleteAllData()">
      Delete all
    </button>
  </span>
  <span>
    <button type="button" class="btn btn-danger" onClick="resetAllDevice()">
      Reset all device
    </button>
  </span>
  <span>
    <button type="button" class="btn btn-success" onClick="exportAllData()">
      Export and delete all
    </button>
  </span>
</div>

<div class="top"></div>
<div class="scrollable-box">
  <div class="box-content">
    <table class="table table-bordered" id="data-table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Data</th>
          <th scope="col">Date</th>
          <th scope="col">Device_Id</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- {% for single_data in datas|reverse %}
          <tr>
            <td>{{ single_data.id }}</td>
            <td>{{ single_data.data }}</td>
            <td>{{ single_data.date }}</td>
            <td>{{ single_data.device_id }}</td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                onClick="deleteData({{single_data.id}})"
              >
                Delete
              </button>
            </td>
          </tr>
          {% endfor %} -->
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
